* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
    background-color: lightblue;
}

h1 {
    margin: 0 0 50px;
}

ul,
ol {
    margin: 0 20px;
}

.refer {
    margin: 0 0 20px;
    display: inline-block;
}

h3 {
    margin: 20px 0 10px;
}

a.link {
    display: inline-block;
    background-color: white;
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}

.home > a.link {
    margin: 0
}